/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
  width: 100%;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

span#header {
  margin-left:40px;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  width:100%;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #333;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 22px;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
/*
.active {
  background-color: #04AA6D;
  color: white;
}*/






/*
@media only screen and (max-device-width: 1280px) {
  html, body {width: 1280px;} /*style - minmax 425+425+430=1280*/ /*
}
*/

td,th {overflow-wrap:anywhere;}

@media only screen and (max-device-width: 800px) {
  .topnav a {font-size: 20px;}
  .topnav a.icon {font-size: 20px; margin:5px 0 0 0;}
  span#header {font-size: 20px; margin:0 0 0 40px;}
}

@media only screen and (max-device-width: 650px) {
  .topnav a {font-size: 30px;}
  .topnav a.icon {font-size: 30px; margin:5px 0 0 0;}
  span#header {font-size: 30px; margin:0 0 0 50px;}
}

@media only screen and (max-device-width: 550px) {
  .topnav a {font-size: 40px;}
  .topnav a.icon {font-size: 40px; margin:10px 0 0 0;}
  span#header {font-size: 40px; margin:0 0 0 60px;}
}

@media only screen and (max-device-width: 450px) {
  .topnav a {font-size: 50px;}
  .topnav a.icon {font-size: 50px; margin:10px 0 0 0;}
  span#header {font-size: 50px; margin:0 0 0 70px;}
}


@media only screen and (min-device-width: 1441px)  and (max-device-width: 2560px) {
    body{background: purple;}
}

@media only screen and (min-device-width: 1025px) and (max-device-width: 1440px) {
    body{background: blue;}
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
    body{background: dodgerblue;}
}

@media only screen and (min-device-width: 426px) and (max-device-width: 768px) {
    body{background: green;}
}

@media only screen and (min-device-width: 376px) and (max-device-width: 425px) {
    body{background: yellow;}
    th,td{font-size:30px;overflow-wrap:anywhere;}
    .comment{font-size:20px;overflow-wrap:anywhere;}    
}

@media only screen and (min-device-width: 321px) and (max-device-width: 375px) {
    body{background: orange;}
    th,td{font-size:30px;overflow-wrap:anywhere;}
    .comment{font-size:20px;overflow-wrap:anywhere;}
}


@media only screen and (max-device-width: 320px) {
    body{background: red;}
    th,td{font-size:30px;overflow-wrap:anywhere;}
    .comment{font-size:20px;overflow-wrap:anywhere;}

    .topnav a {font-size: 120px;}
    .topnav a.icon {font-size: 120px; margin:20px 0 0 0;}
    span#header {font-size: 120px; margin:0 0 0 140px;}
}