* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

table {
  min-width: 100vw;
  width: auto;
  -webkit-box-flex: 1;
          flex: 1;
  border-collapse: collapse;
  border: 0;

  
  display: grid;
  grid-template-columns: 
    minmax(350px, 350px)
    minmax(350px, 350px)
    minmax(350px, 1fr);
}

thead {display: contents;}
tbody {display: contents;}
tr {display: contents;} /* BREAKS ON HOVER */

th,
td {
  padding: 5px;
  padding-left: 10px;
  /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
  /*white-space: nowrap;*/
  word-wrap: normal;
}


td {
color: #808080;
}


th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #5cb85c;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
  position: relative;
}

th:last-child {
  border: 0;
}

.resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0;
  width: 3px;
  cursor: col-resize;
}

.resize-handle:hover,
.header--being-resized .resize-handle {
  opacity: 0.5;
}

th:hover .resize-handle {
  opacity: 0.3;

  /* DISABLING TEXT SELECTION WHILE MOVING BORDERS */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

tr:nth-child(even) td {background: #f8f6ff;} /* BREAKS ON HOVER */
tr:nth-child(odd) td {background: #FFF} /* BREAKS ON HOVER */

.comment {
  color: #1871d6;
  font: 12px/1.5 Helvetica, Arial, sans-serif;
}

table, th, td {
  /* border-collapse: collapse; */
}



table tr, table col {
  transition: all 0.1s;
}
table tbody tr:hover {
  background-color: rgba(0, 140, 203, 0.2);
}
table col.hover {
  background-color: rgba(0, 140, 203, 0.2);
}

td {
  /* width: 400px;*/
  vertical-align: top;
}


table {
  /*border-left: 1px solid #CCC;*/
  border-right: 1px solid #CCC;
}

td {
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

th {
  border-right: 1px solid #CCC;
}

div#container {
   margin-left: 20px;
   margin-top: 20px;
   margin-bottom: 10px;
}

div.big-font {
  font-size: 30px;
}